.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editor {
  flex-grow: 1;
  min-width: 33vw;
}

.editor textarea {
  width: 100%;
  min-height: 13rem
}

@media print {
  .controls {
    display: none;
  }
}