#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  text-align: center;

  overflow: hidden;
}


.controls {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.navigation {
  position: relative;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}


.main.container {
  position: relative;
  overflow-y: scroll;
  padding: 1rem;
  margin: 0;
  
  background-color: hsl(38, 76%, 77%);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  
  color: hsl(270, 100%, 4%);
}

/*  */

@media print {
  .controls,
  .navigation {
    display: none !important;
  }

  .main.container {
    position: static;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    
    background-color: transparent;
    box-shadow: none;
    
    color: hsl(270, 100%, 4%);

    height: auto !important;
    max-height: none !important;
    overflow: visible !important;

    /* Optional: force page breaks inside */
    page-break-inside: auto;
  }
}

.print.mode.button {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  
  font-size: 1.5rem;
  color: hsl(270, 100%, 4%);
  z-index: 1000;
}

/*  */

.song {
  padding-bottom: 5rem;
}

.chord-section-label {
  font-weight: bold;
}

.chord {
  font-weight: bolder;
}

.chord-line .chord {
  font-weight: normal;
}


.song-section {
  width: auto;
  text-align: left;
}

.lyric-line {
  width: auto;
}