:root {
  --color-primary: hsl(34, 32%, 20%);
  --color-primary-transparent: hsla(34, 32%, 20%, 0.5);
  --color-secondary: hsl(34, 35%, 40%);
  --color-secondary-transparent: hsla(34, 35%, 40%, 0.5);
  --color-background: hsl(39, 46%, 90%);
  --color-background-light: hsl(39, 46%, 95%);
  --color-background-transparent: hsla(39, 46%, 90%, 0.5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-primary);
  background-color: var(--color-background);
}

body {
  margin: 0;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
